#start-test-div {
  background: #f5f7f8;
  font-family: system-ui;
  -webkit-font-smoothing: antialiased;
  padding: 20px 0;
}

.test_page_header {
  width: 90%;
  max-width: 1240px;
  margin: 0 auto;
}

.test_page_band {
  width: 90%;
  max-width: 1240px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;
}
@media (min-width: 30em) {
  .test_page_band {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 60em) {
  .test_page_band {
    grid-template-columns: repeat(4, 1fr);
  }
}

.test_page_card {
  background: white;
  text-decoration: none;
  color: #444;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  min-height: 100%;
  position: relative;
  top: 0;
  transition: all .1s ease-in;
}
.test_page_card:hover {
  top: -2px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}
.test_page_card article {
  padding: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.test_page_card h1 {
  font-size: 20px;
  margin: 0;
  color: #333;
}
.test_page_card p {
  flex: 1;
  line-height: 1.4;
}
.test_page_card span {
  font-size: 12px;
  font-weight: bold;
  color: #999;
  text-transform: uppercase;
  letter-spacing: .05em;
  margin: 2em 0 0 0;
}
.test_page_card .test_page_thumb {
  padding-bottom: 60%;
  background-size: cover;
  background-position: center center;
}

@media (min-width: 60em) {
  .test_page_item-1 {
    grid-column: 3 / span 2;
  }
  .test_page_item-1 h1 {
    font-size: 24px;
  }
}
